<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trustmobi.devicem">

    <application>

        <!--设备管理 begin -->
        <receiver
            android:name=".DeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!--设备管理 end -->
    </application>
</manifest>
